<!DOCTYPE html>
<html lang="en-us" class=" js cssanimations">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>UPN</title>
		<link rel="stylesheet" href="/static/files/style.css">
		<style type="text/css"></style>
		<script src="/static/files/hm.js"></script>
		<script src="/static/files/modernizr.custom.js"></script>
	</head>
	<style type="text/css">embed[type*="application/x-shockwave-flash"],embed[src*=".swf"],object[type*="application/x-shockwave-flash"],object[codetype*="application/x-shockwave-flash"],object[src*=".swf"],object[codebase*="swflash.cab"],object[classid*="D27CDB6E-AE6D-11cf-96B8-444553540000"],object[classid*="d27cdb6e-ae6d-11cf-96b8-444553540000"],object[classid*="D27CDB6E-AE6D-11cf-96B8-444553540000"]{	display: none !important;}</style>
	<body class="mCustomScrollbar _mCS_1 mCS_no_scrollbar vegas-container">
		<div class="vegas-slide vegas-transition-fade">
			<div class="vegas-slide-inner" style="background-image: url(&quot;img/slide-1.jpg&quot;); background-color: rgb(32, 35, 45); background-position: center center; background-size: cover;"></div>
		</div>
		<div class="vegas-timer">
			<div class="vegas-timer-progress" style="transition-duration: 0ms;"></div>
		</div>
		<div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0">
			<div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
				<div id="loading" class="" style="opacity: 0; display: none;">
					<div id="preloader" class="" style="opacity: 0;"></div>
				</div>
				<div class="global-overlay" style="opacity: 1; transform: translateX(100%);">
					<canvas id="constellationel" width="1479" height="795"></canvas>
					<div class="overlay skew-part"></div>
				</div>
				<section id="left-side" class="" style="opacity: 1;">
					<img src="/static/files/logo.png" alt="" class="brand-logo mCS_img_loaded">
					<div class="content">
						<h2 class="text-intro animated-middle fadeInUp">You can access our Client Area via the button below.</h2>
						<nav>
							<ul>
								<li>
								<a href="http://localhost:8080/signin" class="light-btn text-intro animated-middle fadeInUp">Sign In</a>
								</li>
									<li>
									<a href="http://localhost:8080/register" class="action-btn trigger text-intro animated-middle fadeInUp">Register</a>
									</li>
							</ul>
						</nav>
					</div>
				</section>
				<script src="/static/files/jquery.min.js"></script>
				<script src="/static/files/jquery.easings.min.js"></script>
				<script src="/static/files/bootstrap.min.css"></script>
				<script src="/static/files/velocity.min.js"></script>
				<script src="/static/files/velocity.ui.min.js"></script>
				<script src="/static/files/vegas.js"></script>
				<script src="/static/files/jquery.mousewheel.js"></script>
				<script src="/static/files/jquery.mCustomScrollbar.js"></script>
				<script src="/static/files/photoswipe.js"></script>
				<script src="/static/files/photoswipe-ui-default.js"></script>
				<script src="/static/files/constellation.js"></script>
				<script src="/static/files/jquery.countdown.js"></script>
				<script src="/static/files/main.js"></script>
			</div>
		</div>
	</body>
</html>